main {
  background-image: url(../../../assets/background.jpg);
  background-repeat: no-repeat;
  padding: 1px 0px;
  min-height: 100vh;
}

.padding-bottom {
  padding-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1550px;
  padding: 50px 70px 20px 70px;
  border-radius: 2px;
  margin: 0 auto 15px;
  gap: 25px;
  background-color: white;
  box-shadow: 0px 4px 14px -12px rgba(0, 0, 0, 0.53);
}

.titulo {
  align-self: center;
  margin-bottom: 25px;
}

.info-header {
  margin-bottom: 10px;
  font-size: 28px;
}

.info-agendados {
  margin-bottom: 5px;
}

.button-div {
  display: flex;
}

button {
  font-size: 14px;
  padding: 14px 0px;
  width: 130px;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 20px;
}

button:disabled,
button[disabled] {
  border: none;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.container2 {
  max-width: 1650px;
  margin: auto;
  padding: 45px 15px;
}

a {
  color: black;
}

.lista-livros {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lista-livro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 9px;
  padding-right: 9px;
  color: rgb(129, 129, 129);
}

.header-titulo {
  width: 325px;
  text-align: center;
}

.header-info {
  width: 100px;
  text-align: center;
}

.header-detalhes {
  width: 130px;
  text-align: center;
  margin: 0 20px;
}

.lista-livro-link {
  width: 100%;
  background-color: white;
  display: flex;
  box-shadow: 0px 4px 14px -12px rgba(0, 0, 0, 0.53);
  padding: 9px;
  padding-right: 9px;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.img-titulo {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 325px;
}

.lista-livro-img {
  width: 60px;
  height: 85px;
  border-style: solid;
  border-width: 0.2px;
  border-color: #cecece;
}

.lista-livro-titulo {
  margin-bottom: 2px;
}

.lista-livro-info {
  width: 100px;
  text-align: center;
}

.sucesso {
  color: green;
}

.erro {
  color: red;
}
