<ng-container *ngIf="livros$ | async as livros; else loading">
    <ng-container *ngIf="livros.length > 0; else noResults">

        <div class="lista-livros container">
            <div class="lista-livro-header">
                <p class="header-titulo">Título</p>
                <p class="header-editora">Editora</p>
                <p class="header-genero">Gênero</p>
                <p class="header-detalhes">Detalhes</p>
            </div>
            <a class="lista-livro-link" [routerLink]="['/sistema/detalhes', livro.codLivro]"
                *ngFor="let livro of livros">
                <div class="img-titulo">
                    <img class="lista-livro-img" [src]="livro.imagemUrl" alt="{{ livro.titulo }}" />
                    <div>
                        <h4 class="lista-livro-titulo">{{ livro.titulo }}</h4>
                        <p class="lista-livro-autor">{{ livro.autor }}</p>
                    </div>
                </div>
                <p class="lista-livro-editora">{{ livro.editora }}</p>
                <p class="lista-livro-genero">{{ livro.genero }}</p>
                <a class="mais-detalhes" [routerLink]="['/sistema/detalhes', livro.codLivro]">Mais Detalhes</a>
            </a>
        </div>
    </ng-container>
</ng-container>
<ng-template #noResults>
    <h2 class="nenhum-resultado container">Nenhum livro foi encontrado</h2>
</ng-template>
<ng-template #loading>
    <h2 class="nenhum-resultado container">Carregando...</h2>
</ng-template>