<main>
    <app-navbar-sistema></app-navbar-sistema>
    <app-barra-busca></app-barra-busca>
    <div class="padding-bottom"></div>
    <article class="container" *ngIf="mostrarInformacoes">
        <nav class="breadcrumb">
            <a class="purple" routerLink="/sistema">Home</a> <span class="gray"> / </span>
            <a class="purple" routerLink="/sistema/livros">Livros</a> <span class="gray"> / </span>
            <span>{{ livro?.titulo }}</span>
        </nav>
        <div class="flex">
            <figure class="placeholder">
                <img class="foto" [src]="livro?.imagemUrl" />
            </figure>
            <section class="section">
                <div>
                    <h2 class="titulo">{{ livro?.titulo }}</h2>
                    <p class="autor">{{ livro?.autor }}</p>
                    <p class="descricao">{{ livro?.descricao }}</p>
                </div>
                <div class="info-container">
                    <div class="info" *ngIf="isAdmin()">
                        <h3 class="info-header">Quantidade em Estoque</h3>
                        <p class="info-detalhes">{{ livro?.estoque }}</p>
                    </div>
                    <div class="info">
                        <h3 class="info-header">Quantidade Disponível</h3>
                        <p class="info-detalhes">{{ livro?.disponibilidade }}</p>
                    </div>
                    <div class="info">
                        <h3 class="info-header">Editora</h3>
                        <p class="info-detalhes">{{ livro?.editora }}</p>
                    </div>
                    <div class="info">
                        <h3 class="info-header">Gênero</h3>
                        <p class="info-detalhes">{{ livro?.genero }}</p>
                    </div>
                </div>
                <div class="div-button">
                    <button class="button" (click)="agendarEmprestimo(livro!.codLivro, matricula!)"
                        [disabled]="isButtonDisabled">Agendar Emprestimo</button>
                    <button class="button" *ngIf="isAdmin()" (click)="mostrarEditarLivro()">Editar Livro</button>
                    <button class="button" *ngIf="isAdmin()" (click)="apagarLivro()">Apagar Livro</button>
                </div>
                <div class="message" [class.sucesso]="messageSuccess" [class.erro]="messageError">
                    <h3>{{ message }}</h3>
                </div>
            </section>
        </div>
    </article>
    <article class="container-editar" *ngIf="mostrarEditar">
        <h2 class="titulo">Editar: {{ livro!.titulo }}</h2>
        <form (ngSubmit)="editarLivro()" #livroForm="ngForm">
            <fieldset>
                <label for="titulo">Título do Livro</label>
                <input placeholder="{{livro!.titulo}}" type="text" name="titulo" id="titulo" required
                    [(ngModel)]="livro!.titulo">
            </fieldset>
            <fieldset>
                <label for="genero">Gênero</label>
                <input placeholder="{{livro!.genero}}" type="text" name="genero" id="genero" required
                    [(ngModel)]="livro!.genero">
            </fieldset>
            <fieldset>
                <label for="autor">Autor</label>
                <input placeholder="{{livro!.autor}}" type="text" name="autor" id="autor" required
                    [(ngModel)]="livro!.autor">
            </fieldset>
            <fieldset>
                <label for="editora">Editora</label>
                <input placeholder="{{livro!.editora}}" type="text" name="editora" id="editora" required
                    [(ngModel)]="livro!.editora">
            </fieldset>
            <fieldset>
                <label for="quantidade">Quantidade em Estoque</label>
                <input placeholder="{{livro!.estoque}}" type="number" min="0" name="quantidade" id="quantidade" required
                    [(ngModel)]="livro!.estoque">
            </fieldset>
            <fieldset>
                <label for="imagemUrl">Imagem do Livro</label>
                <input placeholder="{{livro!.imagemUrl}}" type="text" name="imagemUrl" id="imagemUrl" required
                    [(ngModel)]="livro!.imagemUrl">
            </fieldset>
            <fieldset>
                <div class="destaque-container">
                    <label for="destaque">Em Destaque</label>
                    <input placeholder="" type="checkbox" name="destaque" id="destaque" [(ngModel)]="livro!.destaque">
                </div>
                <label for="descricao">Sinopse</label>
                <textarea placeholder="{{livro!.descricao}}" type="text" name="descricao" id="descricao" required
                    [(ngModel)]="livro!.descricao"></textarea>
                <div class="button-div">
                    <a class="button-edit" (click)="voltarParaInformacoes()">Cancelar</a>
                    <button class="button-edit" type="submit" id="cadastrar">Editar</button>
                </div>
            </fieldset>
        </form>
        <div class="message" [class.sucesso]="messageSuccess" [class.erro]="messageError">
            <h3>{{ message }}</h3>
        </div>
    </article>
    <app-recomendacoes [livroAtual]="livroAtual"></app-recomendacoes>
</main>
<app-footer></app-footer>
