main {
  background-image: url(../../../assets/background.jpg);
  background-repeat: no-repeat;
  padding: 1px 0px;
  min-height: 100vh;
}

.padding-bottom {
  padding-bottom: 40px;
}

.arrow {
  width: 20px;
  height: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  padding: 50px 10px 20px 10px;
  border-radius: 2px;
  margin: 0 auto 15px;
  gap: 35px;
  background-color: white;
  box-shadow: 0px 4px 14px -12px rgba(0, 0, 0, 0.53);
}

.section {
  padding: 0 30px 0 25px;
  width: 80%;
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    padding: 25px;
    gap: 15px;
  }
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    padding: 25px;
    gap: 15px;
  }

  .placeholder {
    min-width: 0;
    min-height: 0;
    margin: auto;
    border-radius: 8px;
  }

  .info-container {
    margin-bottom: 20px;
  }
}

.titulo {
  font-size: 35px;
  margin-bottom: 2.5px;
}

.autor {
  color: rgb(118, 124, 134);
  margin-bottom: 13px;
  font-size: 18px;
}

.descricao {
  color: #34323b;
  margin-top: 40px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.2px;
  white-space: pre-wrap;
}

@media (max-width: 330px) {
  .descricao {
    font-size: 14px;
    line-height: 22px;
  }
}

.info-container {
  padding: 0 25px;
  margin: 60px auto 0px;
}

.info {
  padding-top: 12px;
  border-color: rgb(229 231 235);
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  text-align: center;
}

.info-header {
  color: #34323b;
}

.info-detalhes {
  color: rgb(90, 95, 104);
  font-size: 0.97rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}

form {
  display: grid;
  column-gap: 2rem;
  row-gap: 1.4rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

form fieldset:last-child {
  grid-column: span 2;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

label {
  font-size: 18px;
}

input {
  width: 240px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff;
  margin: 10px 0 5px;
  padding: 10px;
  border-radius: 4px;
  font-size: 17px;
  outline: 0;
}

#destaque {
  display: block;
  height: 20px;
  width: 80px;
  margin: 0;
}

.destaque-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

textarea {
  height: 150px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Roboto";
}

button {
  cursor: pointer;
  width: 240px;
  border: none;
  background: #000000;
  color: rgb(255, 255, 255);
  margin: 25px auto 15px;
  padding: 10px;
  font-size: 17px;
  border-radius: 4px;
}

.message {
  margin-bottom: 15px;
}

.sucesso {
  color: green;
}

.erro {
  color: red;
}
