<main>
    <app-navbar-sistema></app-navbar-sistema>
    <div class="padding-bottom"></div>
    <article class="container">
        <div class="arrow"></div>
        <section class="section">
            <div>
                <h2 class="titulo">Cadastro de Livros</h2>
            </div>
            <div class="info-container">
                <form (ngSubmit)="cadastrarLivro()" #livroForm="ngForm">
                    <fieldset>
                        <label for="titulo">Título do Livro</label>
                        <input placeholder="Título" type="text" name="titulo" id="titulo" required
                            [(ngModel)]="livro.titulo">
                    </fieldset>
                    <fieldset>
                        <label for="genero">Gênero</label>
                        <input placeholder="Gênero" type="text" name="genero" id="genero" required
                            [(ngModel)]="livro.genero">
                    </fieldset>
                    <fieldset>
                        <label for="autor">Autor</label>
                        <input placeholder="Autor" type="text" name="autor" id="autor" required
                            [(ngModel)]="livro.autor">
                    </fieldset>
                    <fieldset>
                        <label for="editora">Editora</label>
                        <input placeholder="Editora" type="text" name="editora" id="editora" required
                            [(ngModel)]="livro.editora">
                    </fieldset>
                    <fieldset>
                        <label for="quantidade">Quantidade em Estoque</label>
                        <input placeholder="Quantidade" type="number" min="0" name="quantidade" id="quantidade" required
                            [(ngModel)]="livro.estoque">
                    </fieldset>
                    <fieldset>
                        <label for="imagemUrl">Imagem do Livro</label>
                        <input placeholder="Url da Imagem" type="text" name="imagemUrl" id="imagemUrl" required
                            [(ngModel)]="livro.imagemUrl">
                    </fieldset>
                    <fieldset>
                        <div class="destaque-container">
                            <label for="destaque">Em Destaque</label>
                            <input placeholder="" type="checkbox" name="destaque" id="destaque"
                                [(ngModel)]="livro.destaque">
                        </div>
                        <label for="descricao">Sinopse</label>
                        <textarea placeholder="Escreva a Sinopse do livro...." type="text" name="descricao"
                            id="descricao" required [(ngModel)]="livro.descricao"></textarea>
                        <button type="submit" id="cadastrar">Cadastrar</button>
                    </fieldset>
                </form>
                <div class="message" [class.sucesso]="messageSuccess" [class.erro]="messageError">
                    <h3>{{ message }}</h3>
                </div>
            </div>
        </section>
    </article>
</main>
<app-footer></app-footer>
