<main>
    <app-navbar-sistema></app-navbar-sistema>
    <div class="padding-bottom"></div>
    <article class="container">
        <div class="arrow"></div>
        <section class="section">
            <div>
                <h2 class="titulo">Cadastrar Novo Usuário</h2>
            </div>
            <div class="info-container">
                <form (ngSubmit)="cadastrarUsuario()" #usuarioForm="ngForm">
                    <fieldset>
                        <label for="matricula">Matrícula</label>
                        <input placeholder="Nº Matrícula" type="text" name="matricula" id="matricula" required
                            [(ngModel)]="usuario.matricula">
                    </fieldset>
                    <fieldset>
                        <label for="nomeCompleto">Nome Completo</label>
                        <input placeholder="Nome" type="text" name="nomeCompleto" id="nomeCompleto" required
                            [(ngModel)]="usuario.nomeCompleto">
                    </fieldset>
                    <fieldset>
                        <label for="password">Senha</label>
                        <input placeholder="************" type="password" name="password" id="password" required
                            [(ngModel)]="usuario.password">
                    </fieldset>
                    <fieldset id="roles">
                        <label for="roles">Tipo de Usuário</label>
                        <div class="destaque-container gap">
                            <label for="ROLE_USER">Aluno</label>
                            <input type="radio" value="ROLE_USER" name="roles" id="ROLE_USER" checked
                                [(ngModel)]="usuario.roles">
                        </div>
                        <div class="destaque-container">
                            <label for="ROLE_ADMIN">Admin</label>
                            <input type="radio" value="ROLE_USER,ROLE_ADMIN" name="roles" id="ROLE_ADMIN"
                                [(ngModel)]="usuario.roles">
                        </div>
                    </fieldset>
                    <fieldset>
                        <button type="submit" id="cadastrar">Cadastrar</button>
                    </fieldset>
                </form>
                <div class="message" [class.sucesso]="messageSuccess" [class.erro]="messageError">
                    <h3>{{ message }}</h3>
                </div>
            </div>
        </section>
    </article>
</main>
<app-footer></app-footer>
