<main>
    <app-navbar-sistema></app-navbar-sistema>
    <div class="padding-bottom"></div>
    <article class="container">
        <img class="profile-pic" [src]="this.usuario.fotoPerfil || 'assets/profile-picture.png'" alt="Foto de perfil">
        <h2 class="titulo">{{ getCurrentUserName() }}</h2>
        <div id="informacoes" *ngIf="mostrarInformacoes">
            <div class="info">
                <h3 class="info-header">Empréstimos</h3>
                <div class="lista-livros container2" id="anchor">
                    <div class="lista-livro-header">
                        <p class="header-titulo">Título</p>
                        <p class="header-info">Data da requisição</p>
                        <p class="header-info">Data do empréstimo</p>
                        <p class="header-info">Data limite</p>
                        <p class="header-info">Multa</p>
                        <p class="header-detalhes">Situação</p>
                    </div>
                    <a class="lista-livro-link" [routerLink]="['/sistema/detalhes', emprestimo.livro.codLivro]"
                        *ngFor="let emprestimo of emprestimos">
                        <div class="img-titulo">
                            <img class="lista-livro-img" [src]="emprestimo.livro.imagemUrl"
                                alt="{{ emprestimo.livro.titulo }}" />
                            <div>
                                <h4 class="lista-livro-titulo">{{ emprestimo.livro.titulo }}</h4>
                                <p class="lista-livro-autor">{{ emprestimo.livro.autor }}</p>
                            </div>
                        </div>
                        <p class="lista-livro-info">{{ emprestimo.dataRequisicao | date:'dd/MM/yyyy' }}</p>
                        <p class="lista-livro-info">{{ emprestimo.dataEmprestimo | date:'dd/MM/yyyy' }}</p>
                        <p class="lista-livro-info">{{ emprestimo.dataEntrega | date:'dd/MM/yyyy' }}</p>
                        <p class="lista-livro-info">R$ {{ emprestimo.multa }}</p>
                        <a class="mais-detalhes">{{ emprestimo.status }}</a>
                    </a>
                    <div class="button-div">
                        <button class="button" (click)="mostrarAdicionarFoto()">Alterar Foto</button>
                        <button class="button" (click)="mostrarAlterarSenha()">Alterar Senha</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="adicionar-foto" *ngIf="mostrarFoto">
          <form (ngSubmit)="onUpload()">
            <fieldset>
              <label for="fotoPerfil">Alterar foto de perfil</label>
              <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .jpe, .png, .gif, .webp">
            </fieldset>
            <fieldset>
              <div class="button-div">
                <a class="button" (click)="voltarParaInformacoes()">Cancelar</a>
                <button type="submit" class="button">Salvar</button>
              </div>
            </fieldset>
          </form>
        </div>
        <div id="alterar-senha" *ngIf="mostrarSenha">
            <form (ngSubmit)="alterarSenha()">
                <fieldset>
                    <label for="password">Alterar Senha</label>
                    <input class="input-senha" placeholder="*********" type="password" name="password" id="password"
                        [(ngModel)]="usuario.password">
                </fieldset>
                <fieldset>
                    <div class="button-div">
                        <a class="button" (click)="voltarParaInformacoes()">Cancelar</a>
                        <button type="submit" class="button">Salvar</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="message" [class.sucesso]="messageSuccess" [class.erro]="messageError">
            <h3>{{ message }}</h3>
        </div>
    </article>
</main>
<app-footer></app-footer>
