<app-navbar></app-navbar>
<main class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="image-container">
        <img src="assets/home-page.png" class="img-fluid">
        <div class="overlay-text text-white display-4">Seja Bem-Vindo(a) ao Bibliothek</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="lower-info">Sua Plataforma de Gerenciamento de Biblioteca Favorita.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 id="equipe">Quer saber mais sobre nossos desenvolvedores?</h2>
        <p id="click">Clique aqui e
          <a href="https://wendercouto.github.io/equipeBibliothek/" target="_blank">Conheça nossa equipe.</a>
        </p>
      </div>
    </div>
  </div>
</main>
